@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!--
<div style="background-color: orangered; max-width: 100%; min-width: 1024px; height: 200px; margin: 0 auto;">
    <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 12pt; color: white; text-align: center; display: inline;">HOŞGELDİNİZ!</h1>
    <input style="float: right; background-color: white; color: black;" type="button" name="btnSign" value="GİRİŞ YAP." asp-action: checked />
</div>-->
