@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>GİRİŞ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web/css/font-awesome.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Vollkorn+SC:400,600,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>
<body>
    <div class="main">
        <h1>GİRİŞ EKRANI</h1>
        <div class="main-w3lsrow">
            <div class="login-form login-form-left">
                <div class="agile-row">
                    <div class="login-agileits-top">
                        <form action="#" method="post">
                            <p>Kullanıcı Adı</p>
                            <input type="text" class="name" name="Username" required="" />
                            <p>Parola</p>
                            <input type="password" class="password" name="Password" required="" />
                            <input type="submit" value="GİRİŞ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>